player-connection-mode=Listen
player-connection-guid=2810738148
player-connection-debug=0
player-connection-project-name=Image2Makizushi
player-connection-ip=150.65.111.26
player-connection-ip=172.29.128.1
player-connection-ip=192.168.137.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
